html {
	padding: 0.4em;
	background: #141415;
	color: #cdcdcd;
}
body {
	max-width: 70em;
	margin: 0 auto;
}
pre {
	font-size: 12pt;
	white-space: pre-wrap;
}
a {
	color: #3291ff;
	text-decoration: none;
}
a:visited {
	color: #931fff;
}
a:hover {
	text-decoration: underline;
}
center > a {
	font-size: 150%;
}
ul {
	display: inline-block;
	margin: 0;
}
li {
	float: left;
	min-width: 23%;
	padding-right: 1em;
}
@media (prefers-color-scheme: light) {
	html {
		background: white;
		color: #141415;
	}
	a {
		color: #0000EE;
	}
	a:visited {
		color: #551A8B;
	}
}
@media only screen and (max-width: 40em) {
	li {
		min-width: 40%;
	}
}
